DATABASE_URL="your db url"
PORT=3000
BETTER_AUTH_SECRET=your better auth secret
BETTER_AUTH_URL=http://localhost:3000
APP_URL=http://localhost:4000
SMTP_HOST=smtp.gmail.com
SMTP_USER=your smtp user
SMTP_PASS=your smtp pass
GOOGLE_CLIENT_ID=your google client id
GOOGLE_CLIENT_SECRET=your google client secret

SERVER_URL=http://localhost:3000


ADMIN_EMAIL=admin email
ADMIN_PASS=admin pass